{% extends "base.html" %}

{% block meta %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <script>
        $(document).ready(() => {
            $("#form-task-baru").submit((event) => {
                event.preventDefault();

                const csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;

                $.ajax({
                    type: "POST",
                    url: "{% url 'todolist:add_task' %}",
                    headers: {
                        "X-CSRFToken": csrfToken
                    },
                    mode: "same-origin",
                    data: $("#form-task-baru").serialize(),
                    success: (response) => {
                        add_task_card(response);
                        $("#form-task-baru").trigger("reset");
                    },
                });
            });

            show_task_cards();
        });

        function show_task_cards()
        {
            $.get("./json", (data) =>
            {
                for(let i = 0; i < data.length; i++)
                {
                    add_task_card(data[i]);
                }
            });
        }

        function add_task_card(data)
        {
            $("#task-cards").append($("<div></div>")
                .addClass("jumbotron card mt-3 rounded-5")
                .attr("style", "background-color: lavender; width: 250px;")
                .append($("<div></div>")
                    .addClass("card-body")
                    .append($("<h5></h5>")
                        .addClass("card-title")
                        .append(data.fields.title)
                    )
                    .append($("<p></p>")
                        .addClass("card-text")
                        .append(data.fields.description)
                    )
                    .append($("<p></p>")
                        .attr("style", "text-align: right;")
                        .append(data.fields.date)
                    )
                )
            );
        }
    </script>

{% endblock meta %}

{% block content %}

    <ul class = "nav navbar-expand" style = "background-color: purple; color: white; box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);">
        <li class = "nav-item mt-1 mb-1" style = "margin: 20px;">
            <h1>To Do List Milik {{username}}</h1>
        </li>

        <li class = "nav-item" style = "margin-top: 13px; margin-bottom: 13px;">
            <button class = "btn login_btn" style = "background-color: lavender;" ><a style = "color: black; text-decoration: none;" data-bs-toggle = "modal" data-bs-target = "#modal-task-baru">Task baru</a></button>
        </li>
        
        <li class = "nav-item" style = "margin: 20px; margin-top: 13px; margin-bottom: 13px;">
            <button class = "btn login_btn" style = "background-color: lavender;" ><a style = "color: black; text-decoration: none;" href = "{% url 'todolist:logout_user' %}">Logout</a></button>
        </li>
    </ul>

    <div id = "task-cards"></div>

    <br>

    <div id = "modal-task-baru" class = "modal">
        <div class = "modal-dialog" style = "max-width: 330px; box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);">
            <div class = "modal-content rounded-4" style = "background-color: lavender;">
                <div class = "modal-header">
                    <h1 class = "modal-title">Task Baru</h1>
                    <button type = "button" class = "btn-close" data-bs-dismiss = "modal"></button>
                </div>
                <div class="modal-body">
                    <form method = "POST" action = "./add/" class = "create-task" id = "form-task-baru">
                        {% csrf_token %}
                        <table  class = "table table-hover table-borderless text-center">
                            <tr>
                                <td>Judul: </td>
                                <td><input type = "text" name = "judul" placeholder = "Judul" class = "form-control" id = "input-judul"></td>
                            </tr>
            
                            <tr>
                                <td>Deskripsi: </td>
                                <td><input type = "text" name = "deskripsi" placeholder = "Deskripsi" class = "form-control" id = "input-deskripsi"></td>
                            </tr>
            
                            <tr>
                                <td></td>
                                <td><input class = "btn login_btn" style = "background-color: purple; color: white;" type = "submit" value = "MANTUL" data-bs-dismiss = "modal"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}