{% extends "base.html" %}

{% block meta %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $(document).ready(() => show_task_cards());

        function show_task_cards()
        {
            $.get("./json", (data) =>
            {
                for(let i = 0; i < data.length; i++)
                {
                    $("#task-cards").append($("<div></div>")
                        .addClass("jumbotron card mt-3 rounded-5")
                        .attr("style", "background-color: lavender; width: 250px;")
                        .append($("<div></div>")
                            .addClass("card-body")
                            .append($("<h5></h5>")
                                .addClass("card-title")
                                .append(data[i].fields.title)
                            )
                            .append($("<p></p>")
                                .addClass("card-text")
                                .append(data[i].fields.description)
                            )
                            .append($("<p></p>")
                                .attr("style", "text-align: right;")
                                .append(data[i].fields.date)
                            )
                        )
                    );
                }
            });
        }
    </script>

{% endblock meta %}

{% block content %}

    <ul class = "nav navbar-expand" style = "background-color: purple; color: white; box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);">
        <li class = "nav-item mt-1 mb-1" style = "margin: 20px;">
            <h1>To Do List Milik {{username}}</h1>
        </li>

        <li class = "nav-item" style = "margin-top: 13px; margin-bottom: 13px;">
            <button class = "btn login_btn" style = "background-color: lavender;" ><a style = "color: black; text-decoration: none;" href = "{% url 'todolist:create_task' %}">Task baru</a></button>
        </li>
        
        <li class = "nav-item" style = "margin: 20px; margin-top: 13px; margin-bottom: 13px;">
            <button class = "btn login_btn" style = "background-color: lavender;" ><a style = "color: black; text-decoration: none;" href = "{% url 'todolist:logout_user' %}">Logout</a></button>
        </li>
    </ul>

    <div id = "task-cards"></div>

    <br>

{% endblock content %}